.mainDiv{
    text-align: center;
    border: 1px solid black;
    width: 40%;
    margin-left: 30%;
    border-radius: 20px;
    margin-top: 3%;
}

.form{
    border-top:  1px solid black;
    padding: 10px
}

.inputDiv{
    margin: 10px
}

.inputDiv label{
    font-size: large;
    font-weight: bold;
}

.inputDiv input {
    padding: 3px
}